<div class="moduleContainer" class="centerPanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'center'">
	
	<form dojoType="app.form.Manager" data-dojo-attach-point="questionBasicInfoForm" method="post">
		<table cellpadding="0" cellspacing="2" style="width: 100%;">
			<tr>
				<td  label="true">Name*: </td>
				<td><input type="text" required="true" name="name" data-dojo-attach-point="nameBox" observer="recordChange" placeholder="Acme Lab Inc" dojoType="dijit.form.ValidationTextBox" missingMessage="Ooops!  You forgot the question name" /></td>
				<td></td>
			</tr>
			<tr>
				<td  label="true">Order: </td>
				<td><input type="text" required="true" name="order" data-dojo-attach-point="orderBox" observer="recordChange" placeholder="0" dojoType="dijit.form.NumberSpinner" data-dojo-props="smallDelta:1, constraints:{min:0, max:200, places:0}" /></td>
				<td></td>
			</tr>
			<tr>
				<td  label="true">Answer Type: </td>
				<td><select data-dojo-attach-point="control_type_idBox" name="control_type_id" store="{config:{url:'CONTROL_TYPE', selectFirst:true}}" observer="recordChange, refreshUI" dojoType="app.form.FilteringSelect" maxHeight="200"></select></td>
				<td></td>
			</tr>
			<tr>
				<td  label="true">Answer Choices: </td>
				<td><select data-dojo-attach-point="response_typeBox" name="response_type_id" store="{config:{url:'RESPONSE_TYPE', selectFirst:true}}" observer="recordChange, refreshUI" dojoType="app.form.FilteringSelect" maxHeight="200"></select></td>
				<td></td>
			</tr>

		</table>
	</form>
	
</div>