<div class="moduleContainer" data-dojo-type="dijit.layout.BorderContainer">
	<a href="http://www.drivercheck.ca"><div class="logo_small floatLeft" style="width:120px; height:49px;"></div></a>
	<button class="pad10 floatLeft" dojoType="app.workspace.Breadcrumb" data-dojo-attach-point="breadcrumb"/>
	<button class="floatRight pad10" dojoType="dijit.form.Button" data-dojo-attach-point="logoutButton">Logout</button>
	<button class="floatRight pad10" dojoType="dijit.form.Button" data-dojo-attach-point="settingsButton">Settings</button>
</div>
		
