<div class="moduleContainer">
	<div data-dojo-attach-point="surveyDefinitionList" class="activatable" data-dojo-type="app.modules.surveyDefinitions.SurveyDefinitionList"></div>
	<div data-dojo-attach-point="surveyDefinitionSetupDialog" class="activatable includeInStates dialogsetup" data-dojo-type="app.loader.DialogLauncher" data-dojo-props="moduleURL: 'app/modules/surveyDefinitions/SurveyDefinitionSetup', title : 'Survey Definition Setup',  dialogWidth: '800px', dialogHeight: '520px'"></div>
</div>
		
